<div class="navbar">
    <div class="logo">
        <h1 class="lg-txt">Jitender</h1>
    </div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/weather">Weather</a>
        <a href="/contact">Contact</a>
    </div>
</div>