<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/header.css">
</head>

<body>
    <%- include('partials/header') %>

        <div class="mn-container">

            <div class="img-sec">
                <img src="images/profile.jpg" alt="Profile Image">
            </div>
            <div class="content-sec">
                <p>Hello</p>
                <h1>I'm <span>Jitender</span></h1>

                <h3>I'm a <span>Web Designer</span> & <br> <span>Web Developer.</span></h3>

                <h3>Freelancer </h3>
            </div>
        </div>
        <%- include('partials/footer') %>

</body>

</html>